﻿@model SatBlog.Models.BlogSettings

<div class="widget sidebar-widget">
    <h3 class="widgettitle">Hakımda </h3>
    <div class="textwidget">
        <div class="text-align-center">
            <div class="about-image"><img data-no-retina src="@Model.USER_IMG" alt=""></div>
            <h3 class="accent-color">@Model.USER_NAME @Model.USER_SURNAME</h3>
            <p>@Model.USER_ABOUT</p>
            <a href="#" class="btn btn-default">Devam <i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>
</div>