﻿@model List<SatBlog.Models.BlogText>
<div class="widget sidebar-widget widget_archive">
    <h3 class="widgettitle">Archives</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="#">@item.BLOG_DATE</a>()</li>

        }
       
    </ul>
</div>