﻿@model List<SatBlog.Models.Categories>
<div class="widget sidebar-widget widget_categories">
    <h3 class="widgettitle">Kategoriler</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Categori/index/@item.id">@item.CATEGORİES_NAME</a> (@item.BlogText.Count())</li>


        }
 
    </ul>
</div>