﻿@model  List<SatBlog.Models.BlogText>
<div class="widget sidebar-widget popular-posts-widget">
    <h3 class="widgettitle">Populer Yazılar</h3>
    <ul>
        @foreach (var item in Model.Take(1))
        {
            <li class="most-recent-post">
                <div class="widget-post-image">
                    <a href="#"><img data-no-retina src="@item.BLOG_IMG_URL" alt=""></a>
                </div>
                <div class="widget-post-content">
                    <span class="meta-data">@item.BLOG_DATE</span>
                    <h5><a href="/#">@item.BLOG_NAME</a></h5>
                    <p>@item.BLOG_CONTEXT.Substring(0,30) </p>
                </div>
            </li>
        }
        @foreach (var item in Model.Skip(1))
        {
            <li>
                <span class="meta-data">@item.BLOG_DATE</span>
                <h5><a href="Content/#">@item.BLOG_CONTEXT.Substring(0,10)</a></h5>
            </li>
        }

       
    </ul>
</div>
