﻿@model List<SatBlog.Models.BlogText>
<div class="widget sidebar-widget widget_recent_entries">
    <h3 class="widgettitle">Recent Posts</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="widget-post-image">
                    <a href="#"><img data-no-retina src="@item.BLOG_IMG_URL" alt=""></a>
                </div>
                <div class="widget-post-content">
                    <span class="meta-data">@item.BLOG_DATE</span>
                    <h5><a href="#">@item.BLOG_NAME</a></h5>
                </div>
            </li>
        }
        
      
    </ul>
</div>
