﻿@model  SatBlog.Models.BlogSettings

<div class="widget sidebar-widget social-widget">
    <h3 class="widgettitle">Abone Ol &amp; İletişim </h3>
    <ul class="social-icons-colored inversed social-icons">

        <li class="facebook"><a href="http://@Model.USER_FACEBOOK" target="_blank" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
        <li class="twitter"><a href="http://@Model.USER_TWTTER" target="_blank" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li class="googleplus"><a href="http://@Model.USER_MAİL" target="_blank" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>    
        <li class="instagram"><a href="http://@Model.USER_INSTAGRAM" target="_blank" data-toggle="tooltip" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
        <li class="rss"><a href="#" data-toggle="tooltip" data-original-title="Feed" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
</div>
