﻿@model List<SatBlog.Models.Tags>
<div class="widget sidebar-widget tagcloud-widget">
    <h3 class="widgettitle">Tags</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            foreach (var item1 in item.BlogText)
            {
                <a href="/Tags/index/@item1.id">@item.TAGS_TEXT</a>

            }
        }
      
    </div>
</div>