﻿<!DOCTYPE HTML>
<html class="no-js">
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="/Content/vendor/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="/Content/vendor/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/Content/vendor/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/Content/css/ie.css" media="screen" /><![endif]-->
    <link href="/Content/css/custom.css" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
    <!-- Color Style -->
    <link href="/Content/colors/color1.css" rel="stylesheet" type="text/css">
    <!-- SCRIPTS
      ================================================== -->
    <script src="/Content/js/modernizr.js"></script><!-- Modernizr -->
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="/Content/http://browsehappy.com/">Upgrade your browser today</a> or <a href="/Content/http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <div class="body">
        <!-- Site Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-1">
                        <nav class="topmenu ddmenu">
                            <ul role="menu" class="sf-menu">
                                <li>
                                    <a href="/Content/index.html">Home</a>
                                    <ul class="dropdown">
                                        <li><a href="/Content/index.html">Home Slider</a></li>
                                        <li><a href="/Content/index-carousel.html">Home Carousel</a></li>
                                        <li><a href="/Content/index-classic.html">Home Classic</a></li>
                                        <li><a href="/Content/index-classic-nosidebar.html">Home Classic no Sidebar</a></li>
                                        <li><a href="/Content/index-masonry.html">Home Masonry</a></li>
                                        <li><a href="/Content/index-masonry-nosidebar.html">Home Masonry no Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Content/about.html">About</a></li>
                                <li>
                                    <a href="/Content/#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="/Content/typography.html">Typography</a></li>
                                        <li><a href="/Content/shortcodes.html">Shortcodes</a></li>
                                        <li><a href="/Content/404.html">404 Error Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Content/post.html">Post Formats</a>
                                    <ul class="dropdown">
                                        <li><a href="/Content/post.html">Image</a></li>
                                        <li><a href="/Content/post-gallery.html">Gallery</a></li>
                                        <li><a href="/Content/post-audio.html">Audio</a></li>
                                        <li><a href="/Content/post-video.html">Video</a></li>
                                        <li><a href="/Content/post-quote.html">Quote</a></li>
                                        <li><a href="/Content/post-link.html">Link</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Content/contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <a href="/Content/#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-11">
                        <div class="search-header">
                            <form>
                                <input type="text" placeholder="type and enter">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <ul class="social-icons pull-right">
                            <li><a href="@ViewData["Mail"]" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="@TempData["atilla"]" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://www.pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category Menu -->

        <!-- Site Header -->
        <header class="site-header">
            <h1 class="logo">
                <a href="/Content/index.html"><img src="@ViewBag.Logo" alt=""></a>
            </h1>
        </header>
       @RenderBody()
        
        <!-- Site Footer -->


        <footer class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p>&copy; 2015 Narration - Your way of saying</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="social-icons social-icons-colored pull-right">
                            <li class="facebook"><a href="/Content/#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="/Content/#"><i class="fa fa-twitter"></i></a></li>
                            <li class="instagram"><a href="/Content/#"><i class="fa fa-instagram"></i></a></li>
                            <li class="pinterest"><a href="/Content/#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <a id="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>
    <script src="/Content/js/jquery-2.1.3.min.js"></script> <!-- Jquery Library Call -->
    <script src="/Content/vendor/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
    <script src="/Content/js/ui-plugins.js"></script> <!-- UI Plugins -->
    <script src="/Content/js/helper-plugins.js"></script> <!-- Helper Plugins -->
    <script src="/Content/vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
    <script src="/Content/js/bootstrap.js"></script> <!-- UI -->
    <script src="/Content/js/init.js"></script> <!-- All Scripts -->
    <script src="/Content/vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
</body>
</html>