﻿@model SatBlog.Models.BlogText
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" role="main">
    <div id="content" class="content full">
      
        <div class="container">

            <div class="row">
                <!-- Posts List -->
                <div class="col-md-8">
                    <!-- Post -->
                    <article class="post post-list format-gallery">
                        <div class="post-head">
                            <div class="post-head-left">
                                <div class="post-date">01 Jul</div>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-comment"></i> @Model.Comments.Count()</a>
                                    <a href="#" class="post-cat">@Model.Categories.CATEGORİES_NAME</a>
                                </div>
                                <span class="post-format-icon accent-bg"><i class="icon-multiple-image"></i></span>
                            </div>
                            <div class="post-head-right">
                                <h2 class="post-title"><a href="/Details/index/@Model.id">@Model.BLOG_NAME</a></h2>
                            </div>
                        </div>
                        <div class="post-media">
                            <a href="#"><img data-no-retina src="@Model.BLOG_IMG_URL" alt=""></a>
                        </div>
                        <div class="post-entry">
                            <p class="drop-caps">@Model.BLOG_CONTEXT</p>
                        </div>
                        <div class="post-footer">
                            <ul class="social-icons pull-right">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                            <div class="post-tags">
                                <h4 class="short">Post Tags: </h4>
                                @foreach (var item in Model.Tags)
                                {       
                                <a href="/Tags/@item.id" class="post-cat meta-data">@item.TAGS_TEXT,</a>
                      

                                }
                        
                            </div>
                        </div>
                    </article>
                    <div class="clearfix"></div>
                    <!-- Pagination -->
                    <div class="page-pagination margin-40">
                        <a href="#" class="pull-left">&laquo; prev post</a>
                        <a href="#" class="pull-right">next post &raquo; </a>
                    </div>
                    <!-- About the author -->
              
                        <!-- Post Comments -->
                        <div class="post-comments" id="comments">
                            <h3 class="widgettitle">Comments (4)</h3>
                            <ol class="comments">
                                <li>
                                    <div class="post-comment-block">
                                        <img data-no-retina src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h4><a href="#">Roger Perkins</a> <em>says</em></h4>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Curabitur nec nulla lectus, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post-comment-block">
                                        <img data-no-retina src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h4><a href="#">Marilyn Griffin</a> <em>says</em></h4>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Curabitur nec nulla lectus.</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="post-comment-block">
                                                <img data-no-retina src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                                <div class="post-comment-content">
                                                    <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                                    <h4><a href="#">Roger Perkins</a> <em>says</em></h4>
                                                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                                    <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-comment-block">
                                                <img data-no-retina src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                                <div class="post-comment-content">
                                                    <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                                    <h4><a href="#">Roger Perkins</a> <em>says</em></h4>
                                                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                                    <p>Curabitur nec nulla lectus, non hendrerit lorem.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="post-comment-block">
                                        <img data-no-retina src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h4><a href="#">Marilyn Griffin</a> <em>says</em></h4>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <!-- Comment Form -->
                        <div class="post-comment-form">
                            <h3 class="widgettitle">Post a comment</h3>
                            <form>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <input type="text" class="form-control input-lg" placeholder="Your name">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <input type="email" class="form-control input-lg" placeholder="Your email">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <input type="url" class="form-control input-lg" placeholder="Website (optional)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea cols="8" rows="4" class="form-control input-lg" placeholder="Your comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-lg">Submit your comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
</div>

                <!-- Site Sidebar -->
                <aside class="col-md-4 sidebar left-sidebar">
                    <!-- Related Posts -->
                    @{Html.RenderAction("AboutMe", "Home");}
                    @Html.Action("PopulerPost", "Home")

                    @{ Html.RenderAction("Categories", "Home");}

                    @Html.Action("Archisves", "Home")

                    @Html.Action("Social", "Home")

                    <div class="widget sidebar-widget newletter-widget">
                        <h3 class="widgettitle">Newsletter</h3>
                        <form>
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <input type="submit" class="btn btn-primary" value="Subscribe now">
                        </form>
                    </div>

                    @Html.Action("RecentPost", "Home")

                    @Html.Action("TagsPost", "Home")
                    

                </aside>
           
            </div>
        </div>
    </div>
</div>

