﻿@model List<SatBlog.Models.BlogText>
@{
    ViewBag.Title = Model.FirstOrDefault().Categories.CATEGORİES_NAME;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Hero Area -->
<div class="hero-area">
    <div class="container">
        <div class="slider-wrapper">
            <div class="slider-wrapper-side"></div><div class="slider-wrapper-block"></div>
            <div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
                <ul class="slides">

                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="flex-image"><img src="@item.BLOG_IMG_URL" alt=""></div>
                            <div class="flex-caption">
                                <div class="post-head">
                                    <div class="post-head-left">
                                        <div class="post-date">@item.BLOG_DATE</div>

                                    </div>
                                    <div class="post-head-right">
                                        <div class="post-meta">
                                            <a href="#"><i class="fa fa-comment"></i> @item.Comments.Count()</a>
                                            <a href="#" class="post-cat">@item.Categories.CATEGORİES_NAME</a>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="post-title"><a href="#">@item.BLOG_NAME</a></h2>
                                <div class="post-entry">
                                    <p>@item.BLOG_CONTEXT</p>
                                </div>
                                <a href="/Details/index/@item.id" class="btn btn-primary btn-more">Devam <i class="fa fa-long-arrow-right"></i></a>
                                <div class="post-footer">
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <h1>@Model.FirstOrDefault().Tags.FirstOrDefault().TAGS_TEXT Tagını Görüyorsunuz Şuan</h1>
            <div class="row">
                <!-- Posts List -->
                <div class="col-md-8">
                    @foreach (var item in Model)
                    {
                        <article class="post post-list format-gallery">
                            <div class="post-head">
                                <div class="post-head-left">
                                    <div class="post-date">01 Jul</div>
                                    <div class="post-meta">
                                        <a href="Content/#"><i class="fa fa-comment"></i> @item.Comments.Count()</a>
                                        <a href="Content/#" class="post-cat"></a>
                                    </div>
                                    <span class="post-format-icon accent-bg"><i class="icon-multiple-image"></i></span>
                                </div>
                                <div class="post-head-right">
                                    <h2 class="post-title">
                                        <a href="Content/post.html">
                                            @item.BLOG_NAME
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <div class="post-media">
                                <div class="flexslider galleryflex" data-autoplay="no" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
                                    <ul class="slides">
                                        <li><img data-no-retina src="@item.BLOG_IMG_URL" alt=""></li>
                                        <li><img data-no-retina src="@item.BLOG_IMG_URL" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-entry">
                                @item.BLOG_CONTEXT
                            </div>
                            <div class="post-footer">
                                <ul class="social-icons pull-right">
                                    <li><a href="Content/#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="Content/#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="Content/#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="Content/#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                                <a href="/Details/index/@item.id" class="btn btn-primary btn-more">Devam <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </article>
                    }
                    <!-- Post -->

                    <div class="clearfix"></div>
                    <!-- Pagination -->
                    <div class="page-pagination">
                        <a href="#" class="pull-left">&laquo; Older entries</a>
                    </div>
                </div>

                <!-- Site Sidebar -->
                <aside class="col-md-4 sidebar right-sidebar">
                    @{Html.RenderAction("AboutMe", "Home");}
                    @Html.Action("PopulerPost", "Home")

                    @{ Html.RenderAction("Categories", "Home");}

                    @Html.Action("Archisves", "Home")

                    @Html.Action("Social", "Home")

                    <div class="widget sidebar-widget newletter-widget">
                        <h3 class="widgettitle">Newsletter</h3>
                        <form>
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <input type="submit" class="btn btn-primary" value="Subscribe now">
                        </form>
                    </div>

                    @Html.Action("RecentPost", "Home")

                    @Html.Action("TagsPost", "Home")

                </aside>
            </div>
        </div>
    </div>
</div>